.ad-savetbtn {
  background: url(../../../../../assets/images/make-money-bg.jpg) no-repeat;
  background-size: cover;
  padding: 8px 26px;
  color: #fff !important;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
  box-shadow: none;
  span {
    color: #fff !important;
  }
}
.admin-title{
  h2{
    font-family: 'handycheeraregular';
    font-size: 50px;
  }
}
